.App {
  text-align: center;
}

.intro {
  margin: 5% 2%;
  background-color: rgb(213, 225, 213);
  padding: 3%;;
}

.rooms {
  justify-content: space-between;
  margin: 2% 4%;
}

form {
  background-color: rgb(235, 203, 213);
  margin: 5% 2%;
  padding: 3%;
}

footer {
  text-align: center;
  background-color:rgb(213, 225, 213) ;
  padding: 2%;

}

.navbar {
  background-color: #ff6347; /* Exemple : couleur tomate */
}
